In [1]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv('all_stocks_5yr.csv' , parse_dates = ['date']).set_index('date')

DatetimeIndex(['2013-02-08', '2013-02-11', '2013-02-12', '2013-02-13',
               '2013-02-14', '2013-02-15', '2013-02-19', '2013-02-20',
               '2013-02-21', '2013-02-22',
               ...
               '2018-01-25', '2018-01-26', '2018-01-29', '2018-01-30',
               '2018-01-31', '2018-02-01', '2018-02-02', '2018-02-05',
               '2018-02-06', '2018-02-07'],
              dtype='datetime64[ns]', name='date', length=1259, freq=None)

In [63]:
df
series = []
seriesv = []
for name in df.Name.unique():
    serie = df[df.Name == name].reset_index().close.values
    seriev = df[df.Name == name].reset_index().volume.values
    series.append(serie)
    seriesv.append(seriev)

In [64]:
price = pd.DataFrame(series , columns = df.index.unique() , index = df.Name.unique()).T
volume = pd.DataFrame(seriesv , columns = df.index.unique() , index = df.Name.unique()).T

In [74]:
index = volume.sum().sort_values(ascending = False).index.values

In [89]:
top50 = index[len(index)//2:]
min50 = index[:len(index)//2]

price_min50 = price[top50]
price_top50 = price[min50]

print('Top 50 Volume companies average price' , price_top50.mean().mean())
print('Min 50 Volume companies average price' , price_min50.mean().mean())

Top 50 Volume companies average price 60.38969540697049
Min 50 Volume companies average price 104.77573508558345

In [104]:
print('Average price Bank of America : ' , price.mean()['BAC'])

Average price Bank of America :  17.704177918983333

In [102]:
price.pct_change().dropna().std().mean()

0.015144274540913607

In [ ]:
price.to_csv('financial_data.csv')
volume.to_csv('volume.csv')